@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  font-family: "quicksand";
  color: #333;
}
.Navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0;
  border-bottom: 1px, solid, #333;
}
.Navbar h1 {
  color: red;
}

.Navbar .links {
  margin-left: auto;
}
.Navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.Navbar a:hover {
  color: red;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  padding: 10 px 16px;
  margin: 20px 0;
  border-bottom: 1px solid black;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px grey;
}
